body{
	padding-top: 20px;
}

.breed-select{
	margin-left: 40px;
	margin-bottom: 40px;
}

.cat-info{
	display: flex;
	margin-left: 40px;
	gap: 40px;
}

.title{
	font-size: 36px;
}

.descr{
	width: 600px;
	font-size: 20px;
}

.temperament{
	font-size: 22px;
	font-weight: bold;
}

.temperament-txt{
	width: 600px;
font-size: 20px;
}

.is-hidden {
	display: none;
}